<link rel="stylesheet" href="assets/vendor.css">
<link rel="stylesheet" href="assets/gallery.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<body class="">
    <div id="main">
        <header id="header">
            <h1>Register</h1>        
            <h3>Please give the following details so we can create your awesome account</h3>
        </header>
        <div class="extrapadding">
         <form {{action "newUser" model on="submit"}}>
            <div class="input-container">
                    {{input type="text" id="SignUpName" value=model.name}}
                    <label for="SignUpName">Name your mother gave you</label>
                    <div class="bar"></div>
                <br>
            </div>
            <div class="input-container">
                    {{input type="text" id="SignUpSurName" value=model.surname}}
                    <label for="SignUpSurName">Family Name</label>
                    <div class="bar"></div>
                <br>
            </div>
                {{#if (userExist model.userExist)}}
                    <div class="warning">
                    <i class="fa warningText"/> User already exists
                    </div>
                {{/if}}  
            <div class="input-container">
                    {{input type="text" id="SignUpUserName" required=true value=model.username}}
                    <label for="SignUpUserName">Your dream name</label>
                    <div class="bar"></div>
                <br>
            </div>
            <div class="input-container">
                    {{input type="email" id="SignUpEmail" value=model.email}}
                    <label for="SignUpEmail">Your super awesome email</label>
                    <div class="bar"></div>
                <br>
            </div>  
             {{#if (removePatch model.password)}}
                <div class="warning">
                    {{#if (checkPswLenght model.password)}}
                        <i class="fa sixup warningText6Plus tooltip">
                            <span class="tooltiptext">6+ characters</span>
                        </i>
                    {{/if}}
                    {{#if (checkPswUppercase model.password)}}
                        <i class="fa upperlowercase warningTextUperLower tooltip">
                            <span class="tooltiptext">upper/lowercase</span>
                        </i>
                    {{/if}}
                    {{#if (checkPswSpecialchar model.password)}}
                        <i class="fa specialchar warningTextSpecial tooltip">
                            <span class="tooltiptext">special character</span>
                        </i>
                    {{/if}}
                    {{#if (checkPswNumericval model.password)}}
                        <i class="fa numericval warningTextNumber tooltip">
                            <span class="tooltiptext">numeric value</span>
                        </i>
                    {{/if}}
                </div>
            {{/if}}
            <div class="input-container">
                    {{input type="password" id="SignUpPassword" required=true value=model.password}}
                    <label for="SignUpPassword">Shhh its a secret password</label>
                    <div class="bar"></div>
                <br>
            </div>
            {{#if (confirmPassword model.password model.comparepassword)}}
                <div class="warning">
                    <i class="fa warningText"/> Passwords don't match
                </div>
            {{/if}}
            <div class="input-container">
                    {{input type="password" id="SignUpConfirmPassword" class=(if (confirmPassword model.password model.comparepassword) 'important') required=true value=model.comparepassword}}
                    <label for="SignUpConfirmPassword">Confirm the secret password</label>
                    <div class="bar"></div>
                <br>
            </div>
                <button type="submit" id="register"><span>Register</span></button>
                {{#link-to "signin"}}<button id="backToSignIn"><span>Signin</span></button>{{/link-to}}
        </form>
        </div>
          <footer id="footer">
            <span>Gallery 
                    <i class="fa fa-code"></i>
                    by 
                    <a href="https://nl.linkedin.com/in/laurent-greyling-90164963">Laurent
                    </a>
                </span>        
        </footer>
        <div class="toggle" onclick="$('body').addClass('fullscreen')"></div>
    </div>
    <div id="viewer">
        <div class="inner">
            <div class="toggle" onclick="$('body').removeClass('fullscreen')"></div>
        </div>
        <div class="slide active">
            <div class="image">
                <img src="assets/images/placeholder/haarlem.jpg" style="width:119%; height:100%;">
            </div>
        </div>
    </div>
</body>
 

{{log model}}
{{outlet}}




